اول از همه کتابخانه های لازم را فرا می خوانیم

In [1]:
import numpy as np
import pandas as pd

# انواع داده در <span dir="ltr">NumPy</span>

<span dir="ltr">NumPy</span> از انواع داده زیر پشتیبانی می‌کنه:

- **int**: اعداد صحیح
- **float**: اعداد اعشاری
- **complex**: اعداد مختلط
- **bool**: مقادیر بولی (درست/غلط)
- **string**: رشته‌ها
- **unicode**: رشته‌های یونیکد
- **object**: اشیاء

انواع داده‌های عددی می‌تونن دقت‌های مختلفی مثل 32 بیتی یا 64 بیتی داشته باشن.

انواع داده در <span dir="ltr">NumPy</span> رو می‌شه با استفاده از **نام نوع** یا **کد نوع** نمایش داد.

In [3]:
dtypes = pd.DataFrame(
    {
        'Type': [
            'int8', 
            'uint8', 
            'int16', 
            'uint16', 
            'int or int32', 
            'uint32', 
            'int64', 
            'uint64', 
            'float16', 
            'float32', 
            'float or float64',
            'float128', 
            'complex64', 
            'complex or complex128', 
            'bool', 
            'object', 
            'string_',
            'unicode_',
        ],


                'Type Code': [
            'i1', 
            'u1', 
            'i2', 
            'u2', 
            'i4 or i', 
            'u4', 
            'i8', 
            'u8', 
            'f2', 
            'f4 or f', 
            'f8 or d', 
            'f16 or g', 
            'c8', 
            'c16', 
            None, 
            'O', 
            'S', 
            'U',
        ]
    }
)

dtypes

                     Type Type Code
0                    int8        i1
1                   uint8        u1
2                   int16        i2
3                  uint16        u2
4            int or int32   i4 or i
5                  uint32        u4
6                   int64        i8
7                  uint64        u8
8                 float16        f2
9                 float32   f4 or f
10       float or float64   f8 or d
11               float128  f16 or g
12              complex64        c8
13  complex or complex128       c16
14                   bool      None
15                 object         O
16                string_         S
17               unicode_         U

انواع داده ها را می توان در ایجاد آرایه <span dir="ltr">NumPy</span> تعریف کرد و بعدا به انواع دیگر تبدیل کرد

برای تعریف نوع داده آرایه می توانید از روش های نوع ,نوع کد یا <span dir="ltr">np dot</span> استفاده کنید , اما وقتی از روش <span dir="ltr">np dot</span> برای تعریف نوع داده استفاده می کنید , این روش فقط می تواند به جای تایپ کد , از نوع پیروی کند

In [4]:
arr = np.array([1,2,3], dtype='f4')
arr.dtype

dtype('float32')

In [5]:
# مشابه موارد فوق
rr = np.array([1,2,3], dtype='float32')
arr.dtype

dtype('float32')

In [6]:

arr = np.array([1+2j, 3-4j], dtype=np.complex64)
arr.dtype

dtype('complex64')

In [7]:
# مشابه موارد فوق
arr = np.array([1+2j, 3-4j], dtype='c8')
arr.dtype

dtype('complex64')

In [8]:
# خطا
arr = np.array([1+2j, 3-4j], dtype=np.c8)
arr.dtype

AttributeError: module 'numpy' has no attribute 'c8'

# تبدیل نوع داده در <span dir="ltr">NumPy</span>

<span dir="ltr">astype method</span>: برای تبدیل نوع داده یک آرایه به انواع داده دیگر استفاده می‌شه.

توجه کنید که <span dir="ltr">astype</span> یک کپی از آرایه برمی‌گردونه و نوع داده رو به‌صورت مستقیم تغییر نمی‌ده. باید کپی رو به آرایه اصلی یا یک آرایه جدید اختصاص بدید.

In [15]:
arr = np.array([1,2,3], dtype='int16')
print('نوع داده اصلی: ' + str(arr.dtype))

arr = arr.astype(np.float32)
print('نوع داده پس از تبدیل: ' + str(arr.dtype))

نوع داده اصلی: int16
نوع داده پس از تبدیل: float32

# هشدار

هنگام کاهش دقت نوع داده (از دقت بالاتر به دقت پایین‌تر) مراقب سرریز داده باشید. ممکنه مقادیر غیرمنتظره و نامعتبری به وجود بیاد که معمولاً دیباگ کردن این مشکلات سخته.

In [13]:
# نمونه ای از سرریز اعداد صحیح در downcasting
arr = np.array([126,127,256], dtype='int16')
print('آرایه np قبل از تبدیل نوع: ' + str(arr))

آرایه np قبل از تبدیل نوع: [126 127 256]

In [14]:
# محدوده int8 [-128، 127]، 256 سرریز پس از تبدیل
arr = arr.astype('int8')
print('آرایه np بعد از تبدیل نوع: ' + str(arr))

آرایه np بعد از تبدیل نوع: [126 127   0]

# انواع داده رشته‌ای و یونیکد در <span dir="ltr">NumPy</span>

انواع داده <span dir="ltr">string_</span> و <span dir="ltr">unicode_</span> همگی به‌صورت ضمنی دارای طول ثابت هستند.

طول رشته با کد نوع اون‌ها به همراه یک عدد مشخص می‌شه. برای مثال، <span dir="ltr">S3</span> نشان‌دهنده رشته‌ای با طول ۳ و <span dir="ltr">U10</span> نشان‌دهنده یونیکد با طول ۱۰ هست. در غیر این صورت، طول پیش‌فرض برابر با طول بلندترین رشته در آرایه خواهد بود.

اگه طول یک رشته در آرایه کوتاه‌تر از طول نوع داده تعریف‌شده یا تبدیل‌شده باشه، رشته کوتاه می‌شه (بریده می‌شه).

In [12]:
# نمونه ای از رشته کوتاه شده
s = np.array(['abc', 'defg'], dtype='S3')
print(s)

# An example of truncated unicode
s = np.array(['abcd', 'efghi'], dtype='U3')
print(s)

[b'abc' b'def']
['abc' 'efg']

In [17]:

arr = np.array(['a', 'ab', 'abc'], dtype=np.string_)
print('آرایه هست ' + str(arr))
print('نوع داده هست ' + str(arr.dtype) + 'زیرا طولانی ترین رشته آرایه "abc" و طول آن 3 است.')

arr = np.array(['a', 'abc', 'abcd'], dtype=np.unicode_)
print('آرایه هست ' + str(arr))
print('نوع داده هست ' + str(arr.dtype) + 'زیرا طولانی ترین یونیکد آرایه "abcd" و طول آن 4 است. ')

آرایه هست [b'a' b'ab' b'abc']
نوع داده هست |S3زیرا طولانی ترین رشته آرایه "abc" و طول آن 3 است.
آرایه هست ['a' 'abc' 'abcd']
نوع داده هست <U4زیرا طولانی ترین یونیکد آرایه "abcd" و طول آن 4 است.

# نشانگرهای ترتیب بایت در <span dir="ltr">NumPy</span>

نمادهای <span dir="ltr">|</span> و <span dir="ltr"><</span> در انواع داده نشانگرهای ترتیب بایت هستند که خارج از محدوده این آموزش قرار دارند.

در صورت علاقه به اطلاعات بیشتر: [لطفاً منبع یا لینک مرتبط را اضافه کنید]